body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 70px;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

#result {
    font-size: 28px;
}

button {
    font-size: 18px;
    padding: 8px 16px;
}
